/*

===============================
table of contents
===============================
1.Left Section
2.Right Section ==> Card


*/

main.flex{
   gap: 3rem;
   align-items: start;
}

/*
===============================
1.Left Section ==> Buttons
===============================
*/

main section.left-section.flex {
   flex-direction: column;
   gap: 10px;
}

main section.left-section.flex button{
background-color: rgb(34, 37, 46, 1);
width: 11rem;
padding: 0.75rem 0;
text-align: center;
font-size: 1.05rem;
text-transform: capitalize;
opacity: 0.5;
transition: 0.3s;

}

main section.left-section.flex button.active{
opacity: 1;
font-weight: bold;
letter-spacing:0.6px;
padding: 0.8rem 0;
border: 1px solid var(--blue);
border-radius: 5px;

}
main section.left-section.flex button:hover{
opacity: 1;
}




/*
===============================
2.Right Section ==> Card
===============================
*/

main section.right-section {
   flex-grow: 1;
}